/* Globals */
$main-color: #36c983;
$secondary-color: #2993e9;
* {
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'Rubik';
    src: url('./assets/fonts/Rubik-Regular.ttf')
}
button {
    color: white;
    border: none;
    background-color: $main-color;
    padding: .4em;
    font-family: 'Rubik';
    box-sizing: border-box;
    &:hover {
        cursor: pointer;
    }
}

.icon {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.discount-bar {
    text-align: center;
    background: $secondary-color;
    color: white;
    font-family: 'Rubik';
    font-size: 90%;
    height: 2rem;
    box-sizing: border-box;
    padding: .5em;
}

.wrapper {
}

/* Navigation and Logo */
.logo {
    font-size: 200%;
    text-indent: .5em;
    font-family: 'Rubik';
    .paws {
        vertical-align: middle;
        margin-left: .2em;
        background-image: url('./assets/icons/logo-paws.svg');
    }
}
nav {
    width: 100%;
    color: white;
    height: 5em;
    background: $main-color;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    a {
        color: white;
        text-decoration: none;
    }
    ul {
        li {
            float: left;
            list-style-type: none;
            margin: 0 1em 0 1em;
            font-family: 'Rubik';
            font-size: 110%;
            transition: background-color .2s ease-in-out;
            padding: .5em;
            &:hover {
                background-color: darken($color: $main-color, $amount: 5%);
            }
        }
        .expandable {
            position: relative;
            &::after {
                content: ' ';
                display: inline-block;
                width: .8rem;
                height: 1rem;
                margin-left: .4em;
                vertical-align: middle;
                background-image: url('./assets/icons/down-arrow.svg');
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
            }
        }
    }
    .search-bar {
        flex: 2;
        .search-wrapper {
            width: 100%;
            display: flex;
        }
        input {
            flex: 1;
            padding: .6em;
            box-sizing: border-box;
            border: 0;
            font-family: 'Rubik';
            &:focus {
                border: 0;
                outline: none;
            }
        }
        button {
            display: inline-block;
            background-color:white;
            width: 3rem;
            .search {
                width: 1.2rem;
                height: 1.2rem;
                padding-left: 1.2em;
                background-image: url('./assets/icons/search.svg');
            }
        }
    }
    .right-side {
        flex: 1;
        display: flex;
        justify-content: flex-end;
        .container {
            max-width: 6rem;
            text-align: center;
            flex: 1;
            margin: 0 .8em 0 .8em;
            &:hover {
                cursor: pointer;
            }
        }
        p {
            display: inline-block;
            align-items: center;
            font-family: 'Rubik';
        }
        .account {
            display: block;
            margin: 0 auto;
            width: 1.4em;
            height: 1.4em;
            background-image: url('./assets/icons/user.svg');
        }
        .cart {
            display: block;
            margin: 0 auto;
            width: 1.4em;
            height: 1.4em;
            background-image: url('./assets/icons/cart.svg');
        }
    }
    .dropdown {
        position: absolute;
        width: 20rem;
        height: 20rem;
        background: white;
        border-radius: 5px;
        top: 2.5em;
        max-height: 0;
        overflow: hidden;
        transition: max-height .4s ease-in-out;
    }
}

/* Home Page */
.home-wrapper {

}
