/* Globals */
$main-color: #36c983;
$secondary-color: #2993e9;
* {
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'Rubik';
    src: url('./assets/fonts/Rubik-Regular.ttf')
}
button {
    color: white;
    border: none;
    background-color: $main-color;
    padding: .4em;
    font-family: 'Rubik';
    box-sizing: border-box;
    &:hover {
        cursor: pointer;
    }
}
.btn {
    background: $main-color;
    width: 10rem;
    border-radius: 5px;
    transition: background-color .2s ease-in-out;
    text-align: center;
    &:hover {
        background-color: darken($color: $main-color, $amount: 2%);
    }
}

.icon {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.wrapper {
    width: 100%;
}

/* Navigation and Logo */
.logo {
    font-size: 200%;
    text-indent: .5em;
    font-family: 'Rubik';
    .paws {
        vertical-align: middle;
        margin-left: .2em;
        background-image: url('./assets/icons/logo-paws.svg');
    }
}
.dropdown {
    position: absolute;
    height: 20rem;
    background: $secondary-color;
    border-radius: 10px;
    top: 2em;
    left:0;
    max-height: 0;
    overflow: hidden;
    transition: max-height .4s ease-in-out;
    color: white;
    text-align: left;
    &:hover {
        cursor: default;
    }
    a:not(.btn):not(.image-links) {
        color: white;
        font-size: 90%;
        &:hover {
            text-decoration: underline;
            &::after {
                content: ' <';
            }
        }
    }
    .btn {
        padding: .5em .2em;
        margin-top: 1.5em;
    }
    h2 {
        font-size: 140%;
        margin-bottom: 1em;
    }
    .pet-food {
        margin-left: .5em;
        width: 2.5rem;
        height: 2.5rem;
        vertical-align: middle;
        background-image: url('./assets/icons/pet-food.svg');
    }
    .pet-supplies {
        margin-left: .5em;
        width: 2.5rem;
        height: 2.5rem;
        vertical-align: middle;
        background-image: url('./assets/icons/supplies.svg');
    }
}
.shop-dropdown {
    width: 30rem;
    height: 18rem;
    display: flex;
    justify-content: center;
    flex-direction: row;
    a {
        display: block;
        margin: .5em 0;
    }
    div {
        flex: 1;
        padding: 2em;
    }
}
.brands-dropdown {
    width: 36rem;
    height: 25rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    text-align: center;
    h2 {
        font-size: 110%;
    }
    div {
        padding: 2em;
    }
    img {
        flex: 1;
        width: 6rem;
        height: 6rem;
        margin: .2em;
        border: 10px solid white;
        border-radius: 5px;
    }
    .all-brands-btn {
        text-align: center;
        padding: .5em;
        border-radius: 5px;
        display: block;
        margin: 1em auto;
    }
    .image-links {
        &:hover {
            img {
                opacity: 0.9;
            }
        }
    }
}
.discount-bar {
    text-align: center;
    background: $secondary-color;
    color: white;
    font-family: 'Rubik';
    font-size: 90%;
    height: 2rem;
    box-sizing: border-box;
    padding: .5em;
}

nav {
    width: 100%;
    color: white;
    height: 5em;
    background: $main-color;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    a {
        color: white;
        text-decoration: none;
    }
    ul {
        li {
            float: left;
            list-style-type: none;
            margin: 0 1em 0 1em;
            font-family: 'Rubik';
            font-size: 110%;
            transition: background-color .2s ease-in-out;
            padding: .5em;
            &:hover {
                cursor: pointer;
                background-color: darken($color: $main-color, $amount: 5%);
            }
        }
        .expandable {
            position: relative;
            &::after {
                content: ' ';
                display: inline-block;
                width: .8rem;
                height: 1rem;
                margin-left: .4em;
                vertical-align: middle;
                background-image: url('./assets/icons/down-arrow.svg');
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
            }
        }
    }
    .search-bar {
        flex: 2;
        .search-wrapper {
            width: 100%;
            display: flex;
        }
        input {
            flex: 1;
            padding: .6em;
            box-sizing: border-box;
            border: 0;
            font-family: 'Rubik';
            &:focus {
                border: 0;
                outline: none;
            }
        }
        button {
            display: inline-block;
            background-color:white;
            width: 3rem;
            .search {
                width: 1.2rem;
                height: 1.2rem;
                padding-left: 1.2em;
                background-image: url('./assets/icons/search.svg');
            }
        }
    }
    .right-side {
        flex: 1;
        display: flex;
        justify-content: flex-end;
        max-width: 15rem;
        .small-container {
            max-width: 6rem;
            text-align: center;
            flex: 1;
            margin-left: 2em;
            margin-right: 2em;
            &:hover {
                cursor: pointer;
                opacity: 0.9;
            }
            
        }
        p {
            display: inline-block;
            align-items: center;
            font-family: 'Rubik';
        }
        .account {
            display: block;
            margin: 0 auto;
            width: 1.3em;
            height: 1.3em;
            background-image: url('./assets/icons/user.svg');
        }
        .cart {
            display: block;
            margin: 0 auto;
            width: 1.3em;
            height: 1.3em;
            background-image: url('./assets/icons/cart.svg');
        }
    }
}

/* Home Page */
.container {
    margin: 2em 0;
}
.previous-price {
    text-decoration: line-through;
    color: red;
    font-weight: bold;
    font-size: 70%;
}
.current-price {
    font-weight: bold;
    color: $main-color;
}
.home-wrapper {
    text-align: center;
    h2 {
        color: $main-color;
        font-family: 'Rubik';
    }
    .gallery-wrapper {
        img {
            width: 100%;
            height: 10rem;
        }
    }
    .products-preview {
        width: 95%;
        margin: 2em auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .product-box {
        display: flex;
        align-items: center;
        width: 18rem;
        height: 7rem;
        margin: .5em;
        padding: .5em;
        border: 1px solid rgb(228, 228, 228);
        img {
            width: 5rem;
            height: 5rem;
        }
        p {
            display: inline-block;
            margin: .5em 0;
        }
        h3 {
            text-align: left;
            font-family: 'Rubik';
            margin-left: 1em;
            font-size: 100%;
            small {
                color: rgb(56, 56, 56);
            }
        }
        button {
            margin: 0 auto;
            display: block;
            padding: .5em 1em;
            border-radius: 10px;
            transition: background-color .2s ease-in-out;
            &:hover {
                background-color: darken($color: $main-color, $amount: 5%);
            }
        }
    }
}
